<html>
https://viacep.com.br/ws/38413108/json/

<v-card-title
   class="headline grey lighten-2"
   primary-title
        >
          Privacy Policy
        </v-card-title>



<div id="counter-event-example">
  <p>{{ total }}</p>
  <button-counter v-on:increment="incrementTotal"></button-counter>
  <button-counter v-on:increment="incrementTotal"></button-counter>
</div>

<script>
Vue.component('button-counter', {
  template: '<button v-on:click="incrementCounter">{{ counter }}</button>',
  data: function () {
    return {
      counter: 0
    }
  },
  methods: {
    incrementCounter: function () {
      this.counter += 1
      this.$emit('increment')
    }
  },
})

new Vue({
  el: '#counter-event-example',
  data: {
    total: 0
  },
  methods: {
    incrementTotal: function () {
      this.total += 1
    }
  }
})        
</script>
</html>

/*

UserService.js


import Vue from 'vue'
export default {
    getUsers(succes, error) {
        Vue.http.get('user').then(
            (response) => {
                succes(response.data)
            },
            (response) => {
                error(response)
            }
        )
    },
...
}

my views/components:

import UserService from '../../services/UserService'
export default {
    ready() {
        getUsers() {
                UserService.getUsers((data) => {
                    this.users = data
                }, (response) => {
                    toastr.error("Oops, " + response.status + " " + response.statusText, "Users", toastrOptions);
                })
            },
        ...
    }
}

*/


formOpcoes : {
  dataEntrada: null,    
  dataEntradaFmt: null,    
  dataPrevistaSaida: null,
  destinacaoHospedagem: null,
  tipoUtilizacao: null,
  servicos: []
},

data : {
  dataEntrada: null,
  dataPrevistaSaida: null,
  destinacaoHospedagem: null,
  tipoUtilizacao: null,
  servicos: [],
  hospedes:[
    hospede : {
      pessoaId : null,
      tipoHospedeId : null,
      acomodacao : { quartoId: null, leitoId: null}
    },
    hospede : {}
  ]
}










