//https://getbootstrap.com/docs/4.2/getting-started/theming/

$body-bg: #ECEFF1;
$body-color: black;
$primary: #006064;
$warning: #FFD54F;
$danger: #E53935;
$info: #29B6F6;

/*
.card, .form-control{

}
*/
.btn { 
    border-radius: 0; 
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4em;
}

// Bootstrap and its default variables
@import "../../../node_modules/bootstrap/scss/bootstrap";